<h2 id="title">Slick Slider for Ember CLI</h2>

{{#slick-slider
  autoplay=true
  afterChange=(action "afterChange")
  responsive=breakpoints
}}
  <div class="box">
    <img
      src="https://static2.businessinsider.com/image/4f3433986bb3f7b67a00003c/a-parasite-found-in-cats-could-be-manipulating-our-brains.jpg"
      alt="kitteh"
    >
  </div>
  <div class="box">
    <img
      src="https://static2.businessinsider.com/image/4f3433986bb3f7b67a00003c/a-parasite-found-in-cats-could-be-manipulating-our-brains.jpg"
      alt="kitteh"
    >
  </div>
  <div class="box">
    <img
      src="https://static2.businessinsider.com/image/4f3433986bb3f7b67a00003c/a-parasite-found-in-cats-could-be-manipulating-our-brains.jpg"
      alt="kitteh"
    >
  </div>
  <div class="box">
    <img
      src="https://static2.businessinsider.com/image/4f3433986bb3f7b67a00003c/a-parasite-found-in-cats-could-be-manipulating-our-brains.jpg"
      alt="kitteh"
    >
  </div>
  <div class="box">
    <img
      src="https://static2.businessinsider.com/image/4f3433986bb3f7b67a00003c/a-parasite-found-in-cats-could-be-manipulating-our-brains.jpg"
      alt="kitteh"
    >
  </div>
  <div class="box">
    <img
      src="https://static2.businessinsider.com/image/4f3433986bb3f7b67a00003c/a-parasite-found-in-cats-could-be-manipulating-our-brains.jpg"
      alt="kitteh"
    >
  </div>
  <div class="box">
    <img
      src="https://static2.businessinsider.com/image/4f3433986bb3f7b67a00003c/a-parasite-found-in-cats-could-be-manipulating-our-brains.jpg"
      alt="kitteh"
    >
  </div>
{{/slick-slider}}

{{outlet}}